<h1>Cafftrack!</h1>
<h2>a database for tracking my excessive caffeine consumption</h2>
<form action="/drinks" method="post" id="post">
  <div class="form-row"><div class="form-left"><label for="date">Date:</label></div><div class="form-right"><input type="date" name="date" id="date"></div></div>
  <div class="form-row"><div class="form-left"><label for="quantity">Quantity:</label></div><div class="form-right"><input type="number" name="quantity" id="quantity"></div></div>
  <div class="form-row"><div class="form-left"><label for="drink_type">Kind of drink:</label></div><div class="form-right"><input type="text" name="drink_type" id="drink_type"></div></div>
  <div class="form-row"><div class="form-left"><label for="location">Location:</label></div><div class="form-right"><input type="text" name="location" id="location"></div></div>
  <div class="form-row"><div class="form-center"><input type="submit"></div></div>
</form>